- categories = GalleryCategory.active
- unless categories.empty?
  .slice.side-column-section.gallery-categories{:id => "section-#{section.id}"}
    %h2= section.title
    %ul.list_of_links.gallery-categories
      - for category in categories
        %li{:class => (@gallery_category and @gallery_category == category) ? "selected" : ""}
          = link_to(category.title, (category.galleries.size == 1) ? gallery_path(category.galleries.first) : gallery_category_path(category))
          - if @gallery_category and @gallery_category == category and section.section_format == "include_galleries"
            - unless category.galleries.empty?
              %ul.list_of_links.galleries
                - for gallery in category.galleries
                  %li{:class => (@gallery and @gallery == gallery) ? "selected" : ""}= link_to(gallery.title, gallery_path(gallery))
