- if @gallery and @gallery.images.size > 1
  - Image.all(:conditions => {:viewable_type => "Gallery", :viewable_id => @gallery.id, :show_in_image_box => true}).sort_by(&:position).each_with_index do |image, i|
    .image
      .image-thumb-container
        .image-thumb
          - unless (image.description.blank? and image.show_rating? and !image.video_url.blank?) or section.section_format == "fancy"
            = link_to image_tag(image.thumbnail, :alt => h(image.title), :title => h(image.title)), [@gallery, image]
          - else
            = link_to image_tag(image.thumbnail, :alt => h(image.title), :title => h(image.title)), image.image.url(:large), :class => "fancy", :rel => "gallery", :title => h(image.title)
      - if !image.caption.blank? and section.section_format == "with_captions"
        .image-caption
          =image.caption
.clear