- if @owner
  - @image_list = @owner.images
- if @image_list and !@image_list.empty?
  .side-column-section.image-list
    %ul.list-of-links
      - for image in @image_list
        - if @image and @image == image
          %li.selected= image.title
        - else
          %li= link_to(image.title, [@owner, image])