- if @owner
  - @image_list = @owner.images
- if @image_list and !@image_list.empty?
  .slice.side-column-section.image-list{:id => "section-#{section.id}"}
    %ul.list-of-links
      - for image in @image_list
        - (@image and @image == image) ? image_class = "selected" : image_class = ""
        %li{:class => image_class}
          = link_to(image.title, [@owner, image])
          - if section.section_format == "include_ratings"
            - rating_collection = Rating.all(:conditions => ["rateable_type = ? and rateable_id = ? and rating > ?", "Image", image.id, 0])
            - rating_total = 0
            - if rating_collection.size > 0
              - rating_collection.each{|x| rating_total += x.rating}
              - rating = rating_total/rating_collection.size
            - else
              - rating = 0
            .rating-sm-full
              .rating-sm-total{:style => "width: #{rating}%;"}